:root {
  --primary: #000;
  --secondary: #efefef;

  /* Indigo */
  --accent: #4b0082;
  /* Aztec Purple */
  /* --accent: #893BFF; */
}

*,
*::before,
*::after {
  user-select: none;
}

html {
  --background-col: #f8fafc;
}

html {
  font-size: 12px;
}

html body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background-color: var(--background-col);
}

.gap {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.list-style-none {
  list-style: none;
}

.text-decoration-none {
  text-decoration: none;
}
